<a href="https://colab.research.google.com/github/sampritich/datasets/blob/master/udacity_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
!wget https://www.dropbox.com/s/ocoskgv0kcc7yid/nypd-motor-vehicle-collisions.zip

--2020-01-17 11:29:22--  https://www.dropbox.com/s/ocoskgv0kcc7yid/nypd-motor-vehicle-collisions.zip
Resolving www.dropbox.com (www.dropbox.com)... 162.125.8.1, 2620:100:601b:1::a27d:801
Connecting to www.dropbox.com (www.dropbox.com)|162.125.8.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/ocoskgv0kcc7yid/nypd-motor-vehicle-collisions.zip [following]
--2020-01-17 11:29:22--  https://www.dropbox.com/s/raw/ocoskgv0kcc7yid/nypd-motor-vehicle-collisions.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc10c214f6fb2245fb3083ecbbb2.dl.dropboxusercontent.com/cd/0/inline/AwWMS5uCRTTrQvqGcks54xQ2Cw-5-iwnSUzw1BW9Gys2hqQLIgcNOnUmctOYSA0K5NQY_rIUxVBSBfhgAOM0lR0scwrce7wD5UYAHiujnLZjYND4vGZDJI5iD3HGHNF4piE/file# [following]
--2020-01-17 11:29:22--  https://uc10c214f6fb2245fb3083ecbbb2.dl.dropboxusercontent.com/cd/0/inline/AwWMS5uCRTTrQvqGcks54xQ2Cw-5-iwnSUzw1BW9Gys2hqQLIgcNOnUmctOYSA0K5NQY_rIUxVBSBfhgAOM0lR0scwrce7wD5UYAHiujnLZjYND4vGZDJI5iD3HGHNF4piE/file
Resolving uc10c214f6fb2245fb3083ecbbb2.dl.dropboxusercontent.com (uc10c214f6fb2245fb3083ecbbb2.dl.dropboxusercontent.com)... 162.125.1.6, 2620:100:6016:6::a27d:106
Connecting to uc10c214f6fb2245fb3083ecbbb2.dl.dropboxusercontent.com (uc10c214f6fb2245fb3083ecbbb2.dl.dropboxusercontent.com)|162.125.1.6|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: /cd/0/inline2/AwV103zQT3sOhe2Rnd2doRjV6EXeWDntshOWS0lcWBG-zOPYUJX2C0H-3ayxNtVxUq7AYQKaXxnXLhZcIAi42wqRxQDfedDPdP_ZSGVCdc7S6AygqAHy6NQvYOeANjO981A3QZVjx7AVfBi8cL2m6dEMptPZ79arHLU31CsBlCkPn3KVSXzVBErzojg0PXBl7QAReR7iV81te5njbSjnqALk5fxtVTL6Mp_cK4sS9gNXIMaTVpldw1velQ9Wl-EtPTRIG9NNMXxdQ_V3QyWwf8NMTZT9of7DCU3pXfUdbdAg8xz1_OGEpVkuJwzg-OCBWQqKIdcVYTOS48rr1upfujaVDGEyZGnPOMBikBiuE6Av6Q/file [following]
--2020-01-17 11:29:23--  https://uc10c214f6fb2245fb3083ecbbb2.dl.dropboxusercontent.com/cd/0/inline2/AwV103zQT3sOhe2Rnd2doRjV6EXeWDntshOWS0lcWBG-zOPYUJX2C0H-3ayxNtVxUq7AYQKaXxnXLhZcIAi42wqRxQDfedDPdP_ZSGVCdc7S6AygqAHy6NQvYOeANjO981A3QZVjx7AVfBi8cL2m6dEMptPZ79arHLU31CsBlCkPn3KVSXzVBErzojg0PXBl7QAReR7iV81te5njbSjnqALk5fxtVTL6Mp_cK4sS9gNXIMaTVpldw1velQ9Wl-EtPTRIG9NNMXxdQ_V3QyWwf8NMTZT9of7DCU3pXfUdbdAg8xz1_OGEpVkuJwzg-OCBWQqKIdcVYTOS48rr1upfujaVDGEyZGnPOMBikBiuE6Av6Q/file
Reusing existing connection to uc10c214f6fb2245fb3083ecbbb2.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 71751457 (68M) [application/zip]
Saving to: ‘nypd-motor-vehicle-collisions.zip.2’

nypd-motor-vehicle- 100%[===================>]  68.43M  23.1MB/s    in 3.0s

2020-01-17 11:29:26 (23.1 MB/s) - ‘nypd-motor-vehicle-collisions.zip.2’ saved [71751457/71751457]

In [34]:
!unzip /content/nypd-motor-vehicle-collisions.zip.2

Archive:  /content/nypd-motor-vehicle-collisions.zip.1
replace MVCollisionsDataDictionary_20190813_ERD.xlsx? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [0]:
import pandas as pd

In [36]:
data=pd.read_csv('/content/nypd-motor-vehicle-collisions.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
data.head()

             ACCIDENT DATE  ... VEHICLE TYPE CODE 5
0  2019-08-05T00:00:00.000  ...                 NaN
1  2019-08-27T00:00:00.000  ...                 NaN
2  2019-08-15T00:00:00.000  ...                 NaN
3  2019-08-30T00:00:00.000  ...                 NaN
4  2019-08-06T00:00:00.000  ...                 NaN

[5 rows x 29 columns]

In [38]:
data.shape

(1612178, 29)

In [39]:
data.describe(include='O')

                  ACCIDENT DATE  ... VEHICLE TYPE CODE 5
count                   1612178  ...               10150
unique                     2702  ...                  44
top     2018-09-06T00:00:00.000  ...   PASSENGER VEHICLE
freq                       1635  ...                5236

[4 rows x 18 columns]

In [40]:
data.describe()

           LATITUDE     LONGITUDE  ...  NUMBER OF MOTORIST KILLED  COLLISION_ID
count  1.415893e+06  1.415893e+06  ...               1.612178e+06  1.612178e+06
mean   4.068864e+01 -7.386657e+01  ...               4.633483e-04  2.765946e+06
std    1.200403e+00  2.438640e+00  ...               2.334547e-02  1.506373e+06
min    0.000000e+00 -2.012371e+02  ...               0.000000e+00  2.300000e+01
25%    4.066882e+01 -7.397746e+01  ...               0.000000e+00  1.014464e+06
50%    4.072258e+01 -7.393002e+01  ...               0.000000e+00  3.422826e+06
75%    4.076789e+01 -7.386727e+01  ...               0.000000e+00  3.854210e+06
max    4.231832e+01  0.000000e+00  ...               5.000000e+00  4.249104e+06

[8 rows x 11 columns]

In [41]:
data.columns

Index(['ACCIDENT DATE', 'ACCIDENT TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [42]:
data.isna().any()

ACCIDENT DATE                    False
ACCIDENT TIME                    False
BOROUGH                           True
ZIP CODE                          True
LATITUDE                          True
LONGITUDE                         True
LOCATION                          True
ON STREET NAME                    True
CROSS STREET NAME                 True
OFF STREET NAME                   True
NUMBER OF PERSONS INJURED         True
NUMBER OF PERSONS KILLED          True
NUMBER OF PEDESTRIANS INJURED    False
NUMBER OF PEDESTRIANS KILLED     False
NUMBER OF CYCLIST INJURED        False
NUMBER OF CYCLIST KILLED         False
NUMBER OF MOTORIST INJURED       False
NUMBER OF MOTORIST KILLED        False
CONTRIBUTING FACTOR VEHICLE 1     True
CONTRIBUTING FACTOR VEHICLE 2     True
CONTRIBUTING FACTOR VEHICLE 3     True
CONTRIBUTING FACTOR VEHICLE 4     True
CONTRIBUTING FACTOR VEHICLE 5     True
COLLISION_ID                     False
VEHICLE TYPE CODE 1               True
VEHICLE TYPE CODE 2               True
VEHICLE TYPE CODE 3               True
VEHICLE TYPE CODE 4               True
VEHICLE TYPE CODE 5               True
dtype: bool

In [0]:
null_columns=pd.DataFrame({'Columns':data.isna().sum().index,'No. Null values':data.isna().sum().values,'Percentage':data.isna().sum().values/data.shape[0]})

In [59]:
null_columns

                          Columns  No. Null values  Percentage
0                   ACCIDENT DATE                0    0.000000
1                   ACCIDENT TIME                0    0.000000
2                         BOROUGH           484625    0.300603
3                        ZIP CODE           484802    0.300712
4                        LATITUDE           196285    0.121751
5                       LONGITUDE           196285    0.121751
6                        LOCATION           196285    0.121751
7                  ON STREET NAME           314176    0.194877
8               CROSS STREET NAME           532985    0.330599
9                 OFF STREET NAME          1392446    0.863705
10      NUMBER OF PERSONS INJURED               17    0.000011
11       NUMBER OF PERSONS KILLED               33    0.000020
12  NUMBER OF PEDESTRIANS INJURED                0    0.000000
13   NUMBER OF PEDESTRIANS KILLED                0    0.000000
14      NUMBER OF CYCLIST INJURED                0    0.000000
15       NUMBER OF CYCLIST KILLED                0    0.000000
16     NUMBER OF MOTORIST INJURED                0    0.000000
17      NUMBER OF MOTORIST KILLED                0    0.000000
18  CONTRIBUTING FACTOR VEHICLE 1             4324    0.002682
19  CONTRIBUTING FACTOR VEHICLE 2           216051    0.134012
20  CONTRIBUTING FACTOR VEHICLE 3          1507924    0.935333
21  CONTRIBUTING FACTOR VEHICLE 4          1590389    0.986485
22  CONTRIBUTING FACTOR VEHICLE 5          1606556    0.996513
23                   COLLISION_ID                0    0.000000
24            VEHICLE TYPE CODE 1             5581    0.003462
25            VEHICLE TYPE CODE 2           265320    0.164572
26            VEHICLE TYPE CODE 3          1483436    0.920144
27            VEHICLE TYPE CODE 4          1566169    0.971462
28            VEHICLE TYPE CODE 5          1602028    0.993704

#<b>clean the data</b>

In [54]:
null_rows=data.isnull().sum(axis=1)
null_rows

0           8
1           8
2           9
3           8
4           7
           ..
1612173     7
1612174    10
1612175    11
1612176     5
1612177     9
Length: 1612178, dtype: int64

In [61]:
len_null_rows=len(null_rows[null_rows>15])
len_null_rows

2536

In [0]:
indexes_of_null_rows=null_rows[null_rows>15].index

In [63]:
indexes_of_null_rows

Int64Index([  12165,   14187,   19736,   22584,   23269,   28399,   29468,
              34161,   36893,   38828,
            ...
            1608352, 1609053, 1609628, 1609959, 1610250, 1610490, 1610715,
            1611246, 1612004, 1612022],
           dtype='int64', length=2536)

In [0]:
datadup=data

In [0]:
datadup=datadup.drop(null_columns[null_columns.Percentage>0.80].Columns,axis=1)

In [0]:
datadup=datadup.drop(indexes_of_null_rows,axis=0)

In [74]:
datadup.shape

(1609642, 22)