<a href="https://colab.research.google.com/github/sampritich/datasets/blob/master/udacity_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
!wget https://www.dropbox.com/s/ocoskgv0kcc7yid/nypd-motor-vehicle-collisions.zip

--2020-01-28 04:02:11--  https://www.dropbox.com/s/ocoskgv0kcc7yid/nypd-motor-vehicle-collisions.zip
Resolving www.dropbox.com (www.dropbox.com)... 162.125.65.1, 2620:100:6021:1::a27d:4101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.65.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/ocoskgv0kcc7yid/nypd-motor-vehicle-collisions.zip [following]
--2020-01-28 04:02:12--  https://www.dropbox.com/s/raw/ocoskgv0kcc7yid/nypd-motor-vehicle-collisions.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc5d6d0929f1649037bca5218565.dl.dropboxusercontent.com/cd/0/inline/AxAAfneUBQRgvMUgErYIGtVzaaox1tThPV5VCG1jKOedU8_9SbW-Allm7CYXFe0EesYYXJQ4HmLywTxNGtmwY-nYlbTEaZAaJjqiw3iAhXWLifARrUwaYbC0QqYgLR-PO-M/file# [following]
--2020-01-28 04:02:12--  https://uc5d6d0929f1649037bca5218565.dl.dropboxusercontent.com/cd/0/inline/AxAAfneUBQRgvMUgErYIGtVzaaox1tThPV5VCG1jKOedU8_9SbW-Allm7CYXFe0EesYYXJQ4HmLywTxNGtmwY-nYlbTEaZAaJjqiw3iAhXWLifARrUwaYbC0QqYgLR-PO-M/file
Resolving uc5d6d0929f1649037bca5218565.dl.dropboxusercontent.com (uc5d6d0929f1649037bca5218565.dl.dropboxusercontent.com)... 162.125.65.6, 2620:100:6021:6::a27d:4106
Connecting to uc5d6d0929f1649037bca5218565.dl.dropboxusercontent.com (uc5d6d0929f1649037bca5218565.dl.dropboxusercontent.com)|162.125.65.6|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: /cd/0/inline2/AxC6Nc0Powjr0GofMywv7MiqhOJJc2mJLrvb3fKHUA5oWHbFIl4i8RHovstFIYEzuckw4Hh2tZEw72rjonWRQVed2pRpcnOMITTF41WZ48lozKxmzn2NqZri8fiaioiNR2PQZPFgvLghzuFgId4Xjp3gCPxXaglnmQTIbYMJewB-RokS1oClDDeb-LxObiVaDGYKOvSSCm-idGM-qR0Ht8XflYvWMaYnsf-cxer9205DSJGr2N_CU6RBN2MOiu8YI9vWmP9chVbkmxO5_qPbKx8S9ZDbjUmrOzDlEJVMToHqNYlYs3FAvf-Vxo7vVMyaAyUyuy6ib1DmwmVeu40m0iUwYwVq4hzsONTgenFpsIrwhw/file [following]
--2020-01-28 04:02:13--  https://uc5d6d0929f1649037bca5218565.dl.dropboxusercontent.com/cd/0/inline2/AxC6Nc0Powjr0GofMywv7MiqhOJJc2mJLrvb3fKHUA5oWHbFIl4i8RHovstFIYEzuckw4Hh2tZEw72rjonWRQVed2pRpcnOMITTF41WZ48lozKxmzn2NqZri8fiaioiNR2PQZPFgvLghzuFgId4Xjp3gCPxXaglnmQTIbYMJewB-RokS1oClDDeb-LxObiVaDGYKOvSSCm-idGM-qR0Ht8XflYvWMaYnsf-cxer9205DSJGr2N_CU6RBN2MOiu8YI9vWmP9chVbkmxO5_qPbKx8S9ZDbjUmrOzDlEJVMToHqNYlYs3FAvf-Vxo7vVMyaAyUyuy6ib1DmwmVeu40m0iUwYwVq4hzsONTgenFpsIrwhw/file
Reusing existing connection to uc5d6d0929f1649037bca5218565.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 71751457 (68M) [application/zip]
Saving to: ‘nypd-motor-vehicle-collisions.zip.2’

nypd-motor-vehicle- 100%[===================>]  68.43M  9.86MB/s    in 6.7s

2020-01-28 04:02:20 (10.2 MB/s) - ‘nypd-motor-vehicle-collisions.zip.2’ saved [71751457/71751457]

In [78]:
!unzip /content/nypd-motor-vehicle-collisions.zip

Archive:  /content/nypd-motor-vehicle-collisions.zip
replace MVCollisionsDataDictionary_20190813_ERD.xlsx? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [0]:
import pandas as pd

In [80]:
data=pd.read_csv('/content/nypd-motor-vehicle-collisions.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [81]:
data.head()

             ACCIDENT DATE  ... VEHICLE TYPE CODE 5
0  2019-08-05T00:00:00.000  ...                 NaN
1  2019-08-27T00:00:00.000  ...                 NaN
2  2019-08-15T00:00:00.000  ...                 NaN
3  2019-08-30T00:00:00.000  ...                 NaN
4  2019-08-06T00:00:00.000  ...                 NaN

[5 rows x 29 columns]

In [82]:
data.shape

(1612178, 29)

In [83]:
data.describe(include='O')

                  ACCIDENT DATE  ... VEHICLE TYPE CODE 5
count                   1612178  ...               10150
unique                     2702  ...                  44
top     2018-09-06T00:00:00.000  ...   PASSENGER VEHICLE
freq                       1635  ...                5236

[4 rows x 18 columns]

In [84]:
data.describe()

           LATITUDE     LONGITUDE  ...  NUMBER OF MOTORIST KILLED  COLLISION_ID
count  1.415893e+06  1.415893e+06  ...               1.612178e+06  1.612178e+06
mean   4.068864e+01 -7.386657e+01  ...               4.633483e-04  2.765946e+06
std    1.200403e+00  2.438640e+00  ...               2.334547e-02  1.506373e+06
min    0.000000e+00 -2.012371e+02  ...               0.000000e+00  2.300000e+01
25%    4.066882e+01 -7.397746e+01  ...               0.000000e+00  1.014464e+06
50%    4.072258e+01 -7.393002e+01  ...               0.000000e+00  3.422826e+06
75%    4.076789e+01 -7.386727e+01  ...               0.000000e+00  3.854210e+06
max    4.231832e+01  0.000000e+00  ...               5.000000e+00  4.249104e+06

[8 rows x 11 columns]

In [85]:
data.columns

Index(['ACCIDENT DATE', 'ACCIDENT TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [86]:
data.isna().any()

ACCIDENT DATE                    False
ACCIDENT TIME                    False
BOROUGH                           True
ZIP CODE                          True
LATITUDE                          True
LONGITUDE                         True
LOCATION                          True
ON STREET NAME                    True
CROSS STREET NAME                 True
OFF STREET NAME                   True
NUMBER OF PERSONS INJURED         True
NUMBER OF PERSONS KILLED          True
NUMBER OF PEDESTRIANS INJURED    False
NUMBER OF PEDESTRIANS KILLED     False
NUMBER OF CYCLIST INJURED        False
NUMBER OF CYCLIST KILLED         False
NUMBER OF MOTORIST INJURED       False
NUMBER OF MOTORIST KILLED        False
CONTRIBUTING FACTOR VEHICLE 1     True
CONTRIBUTING FACTOR VEHICLE 2     True
CONTRIBUTING FACTOR VEHICLE 3     True
CONTRIBUTING FACTOR VEHICLE 4     True
CONTRIBUTING FACTOR VEHICLE 5     True
COLLISION_ID                     False
VEHICLE TYPE CODE 1               True
VEHICLE TYPE CODE 2               True
VEHICLE TYPE CODE 3               True
VEHICLE TYPE CODE 4               True
VEHICLE TYPE CODE 5               True
dtype: bool

In [0]:
null_columns=pd.DataFrame({'Columns':data.isna().sum().index,'No. Null values':data.isna().sum().values,'Percentage':data.isna().sum().values/data.shape[0]})

In [88]:
null_columns

                          Columns  No. Null values  Percentage
0                   ACCIDENT DATE                0    0.000000
1                   ACCIDENT TIME                0    0.000000
2                         BOROUGH           484625    0.300603
3                        ZIP CODE           484802    0.300712
4                        LATITUDE           196285    0.121751
5                       LONGITUDE           196285    0.121751
6                        LOCATION           196285    0.121751
7                  ON STREET NAME           314176    0.194877
8               CROSS STREET NAME           532985    0.330599
9                 OFF STREET NAME          1392446    0.863705
10      NUMBER OF PERSONS INJURED               17    0.000011
11       NUMBER OF PERSONS KILLED               33    0.000020
12  NUMBER OF PEDESTRIANS INJURED                0    0.000000
13   NUMBER OF PEDESTRIANS KILLED                0    0.000000
14      NUMBER OF CYCLIST INJURED                0    0.000000
15       NUMBER OF CYCLIST KILLED                0    0.000000
16     NUMBER OF MOTORIST INJURED                0    0.000000
17      NUMBER OF MOTORIST KILLED                0    0.000000
18  CONTRIBUTING FACTOR VEHICLE 1             4324    0.002682
19  CONTRIBUTING FACTOR VEHICLE 2           216051    0.134012
20  CONTRIBUTING FACTOR VEHICLE 3          1507924    0.935333
21  CONTRIBUTING FACTOR VEHICLE 4          1590389    0.986485
22  CONTRIBUTING FACTOR VEHICLE 5          1606556    0.996513
23                   COLLISION_ID                0    0.000000
24            VEHICLE TYPE CODE 1             5581    0.003462
25            VEHICLE TYPE CODE 2           265320    0.164572
26            VEHICLE TYPE CODE 3          1483436    0.920144
27            VEHICLE TYPE CODE 4          1566169    0.971462
28            VEHICLE TYPE CODE 5          1602028    0.993704

#<b>clean the data</b>

In [89]:
null_rows=data.isnull().sum(axis=1)
null_rows

0           8
1           8
2           9
3           8
4           7
           ..
1612173     7
1612174    10
1612175    11
1612176     5
1612177     9
Length: 1612178, dtype: int64

In [90]:
len_null_rows=len(null_rows[null_rows>15])
len_null_rows

2536

In [0]:
indexes_of_null_rows=null_rows[null_rows>15].index

In [92]:
indexes_of_null_rows

Int64Index([  12165,   14187,   19736,   22584,   23269,   28399,   29468,
              34161,   36893,   38828,
            ...
            1608352, 1609053, 1609628, 1609959, 1610250, 1610490, 1610715,
            1611246, 1612004, 1612022],
           dtype='int64', length=2536)

In [0]:
datadup=data

In [0]:
datadup=datadup.drop(null_columns[null_columns.Percentage>0.80].Columns,axis=1)

In [0]:
datadup=datadup.drop(indexes_of_null_rows,axis=0)

In [96]:
datadup.shape

(1609642, 22)

In [97]:
datadup.head()

             ACCIDENT DATE  ...                  VEHICLE TYPE CODE 2
0  2019-08-05T00:00:00.000  ...                        Pick-up Truck
1  2019-08-27T00:00:00.000  ...  Station Wagon/Sport Utility Vehicle
2  2019-08-15T00:00:00.000  ...                                  NaN
3  2019-08-30T00:00:00.000  ...  Station Wagon/Sport Utility Vehicle
4  2019-08-06T00:00:00.000  ...                                 Bike

[5 rows x 22 columns]

In [98]:
datadup.columns

Index(['ACCIDENT DATE', 'ACCIDENT TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2'],
      dtype='object')

In [0]:
sorted_data = datadup[['ACCIDENT DATE', 'ACCIDENT TIME','BOROUGH','ZIP CODE','CONTRIBUTING FACTOR VEHICLE 1','CONTRIBUTING FACTOR VEHICLE 2','LATITUDE','LONGITUDE']]

In [100]:
sorted_data

                   ACCIDENT DATE ACCIDENT TIME  ...   LATITUDE  LONGITUDE
0        2019-08-05T00:00:00.000         16:30  ...  40.676052 -73.790184
1        2019-08-27T00:00:00.000         16:02  ...  40.657780 -73.951096
2        2019-08-15T00:00:00.000         17:57  ...  40.718143 -73.993835
3        2019-08-30T00:00:00.000         21:53  ...  40.840534 -73.866610
4        2019-08-06T00:00:00.000          9:45  ...  40.745440 -73.975400
...                          ...           ...  ...        ...        ...
1612173  2012-07-21T00:00:00.000         22:46  ...  40.651741 -73.965241
1612174  2012-07-09T00:00:00.000         16:45  ...        NaN        NaN
1612175  2012-07-09T00:00:00.000         14:35  ...  40.791492 -73.935763
1612176  2012-07-18T00:00:00.000          9:20  ...  40.779479 -73.973573
1612177  2012-07-12T00:00:00.000          3:10  ...  40.762501 -73.782522

[1609642 rows x 8 columns]

In [101]:
sorted_data.columns

Index(['ACCIDENT DATE', 'ACCIDENT TIME', 'BOROUGH', 'ZIP CODE',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [0]:
datadup=datadup.rename(columns = {"NUMBER OF PERSONS KILLED": "killed", 
                     "NUMBER OF PEDESTRIANS KILLED":"PEDESTRIANS_KILLED",'NUMBER OF CYCLIST KILLED':'CYCLIST_KILLED','NUMBER OF MOTORIST KILLED':'MOTORIST_KILLED'})

In [105]:
datadup.head()

             ACCIDENT DATE  ...                  VEHICLE TYPE CODE 2
0  2019-08-05T00:00:00.000  ...                        Pick-up Truck
1  2019-08-27T00:00:00.000  ...  Station Wagon/Sport Utility Vehicle
2  2019-08-15T00:00:00.000  ...                                  NaN
3  2019-08-30T00:00:00.000  ...  Station Wagon/Sport Utility Vehicle
4  2019-08-06T00:00:00.000  ...                                 Bike

[5 rows x 22 columns]

In [0]:
sorted_data['killed'] = datadup.killed+datadup.PEDESTRIANS_KILLED+datadup.CYCLIST_KILLED+datadup.MOTORIST_KILLED

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
1612173    0.0
1612174    0.0
1612175    0.0
1612176    0.0
1612177    0.0
Name: killed, Length: 1609642, dtype: float64

In [0]:
datadup
datadup['ACCIDENT DATE'] = pd.to_datetime(datadup['ACCIDENT DATE'])

In [0]:
import datetime as dt
currentyear = dt.datetime.now().year
collisionyear = pd.DatetimeIndex(datadup['ACCIDENT DATE']).year

In [117]:
 collisionyear

Int64Index([2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019,
            ...
            2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012],
           dtype='int64', name='ACCIDENT DATE', length=1609642)

In [118]:
datadup.columns

Index(['ACCIDENT DATE', 'ACCIDENT TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'NUMBER OF PERSONS INJURED', 'killed', 'NUMBER OF PEDESTRIANS INJURED',
       'PEDESTRIANS_KILLED', 'NUMBER OF CYCLIST INJURED', 'CYCLIST_KILLED',
       'NUMBER OF MOTORIST INJURED', 'MOTORIST_KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2'],
      dtype='object')

In [0]:
datadup=datadup.rename(columns = {"NUMBER OF PERSONS INJURED": "injured", 
                     "NUMBER OF PEDESTRIANS INJURED":"PEDESTRIANS_INJURED",'NUMBER OF CYCLIST INJURED':'CYCLIST_INJURED','NUMBER OF MOTORIST INJURED':'MOTORIST_INJURED'})

In [120]:
datadup

        ACCIDENT DATE  ...                  VEHICLE TYPE CODE 2
0          2019-08-05  ...                        Pick-up Truck
1          2019-08-27  ...  Station Wagon/Sport Utility Vehicle
2          2019-08-15  ...                                  NaN
3          2019-08-30  ...  Station Wagon/Sport Utility Vehicle
4          2019-08-06  ...                                 Bike
...               ...  ...                                  ...
1612173    2012-07-21  ...                              UNKNOWN
1612174    2012-07-09  ...                       LIVERY VEHICLE
1612175    2012-07-09  ...                    PASSENGER VEHICLE
1612176    2012-07-18  ...                                  VAN
1612177    2012-07-12  ...                                  NaN

[1609642 rows x 22 columns]

In [0]:
sorted_data['injured'] = datadup.injured+datadup.PEDESTRIANS_INJURED+datadup.CYCLIST_INJURED+datadup.MOTORIST_INJURED

In [122]:
sorted_data

                   ACCIDENT DATE ACCIDENT TIME  ... killed injured
0        2019-08-05T00:00:00.000         16:30  ...    0.0     0.0
1        2019-08-27T00:00:00.000         16:02  ...    0.0     0.0
2        2019-08-15T00:00:00.000         17:57  ...    0.0     2.0
3        2019-08-30T00:00:00.000         21:53  ...    0.0     0.0
4        2019-08-06T00:00:00.000          9:45  ...    0.0     2.0
...                          ...           ...  ...    ...     ...
1612173  2012-07-21T00:00:00.000         22:46  ...    0.0     0.0
1612174  2012-07-09T00:00:00.000         16:45  ...    0.0    10.0
1612175  2012-07-09T00:00:00.000         14:35  ...    0.0     0.0
1612176  2012-07-18T00:00:00.000          9:20  ...    0.0     0.0
1612177  2012-07-12T00:00:00.000          3:10  ...    0.0     0.0

[1609642 rows x 10 columns]

In [0]:
sorted_data=sorted_data.rename(columns = {"ACCIDENT DATE":"Date"})

In [136]:
sorted_data

                            Date ACCIDENT TIME  ... killed injured
0        2019-08-05T00:00:00.000         16:30  ...    0.0     0.0
1        2019-08-27T00:00:00.000         16:02  ...    0.0     0.0
2        2019-08-15T00:00:00.000         17:57  ...    0.0     2.0
3        2019-08-30T00:00:00.000         21:53  ...    0.0     0.0
4        2019-08-06T00:00:00.000          9:45  ...    0.0     2.0
...                          ...           ...  ...    ...     ...
1612173  2012-07-21T00:00:00.000         22:46  ...    0.0     0.0
1612174  2012-07-09T00:00:00.000         16:45  ...    0.0    10.0
1612175  2012-07-09T00:00:00.000         14:35  ...    0.0     0.0
1612176  2012-07-18T00:00:00.000          9:20  ...    0.0     0.0
1612177  2012-07-12T00:00:00.000          3:10  ...    0.0     0.0

[1609642 rows x 10 columns]

In [137]:
# Percentage of missing values in each column
df_missing = pd.DataFrame(sorted_data.isnull().sum(), columns = ['Count Missing Values'])
df_missing['% Missing Values'] = (sorted_data.isnull().sum()/len(sorted_data))*100

df_missing

                               Count Missing Values  % Missing Values
Date                                              0          0.000000
ACCIDENT TIME                                     0          0.000000
BOROUGH                                      482089         29.950076
ZIP CODE                                     482266         29.961072
CONTRIBUTING FACTOR VEHICLE 1                  4164          0.258691
CONTRIBUTING FACTOR VEHICLE 2                213521         13.265124
LATITUDE                                     193749         12.036776
LONGITUDE                                    193749         12.036776
killed                                           29          0.001802
injured                                          15          0.000932

In [143]:
#Get the data
df_im = sorted_data[['Date','injured']]

type(df_im['Date'])

pandas.core.series.Series

In [0]:
sorted_data['Date'] = pd.to_datetime(sorted_data['Date'])

In [151]:
#Get the data
df_im = sorted_data[['Date','injured']]

df_im['year'] = df_im.Date.dt.year
df_im['month'] = df_im.Date.dt.month

df_im = df_im.drop(['Date'], axis=1)

df_im

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

         injured  year  month
0            0.0  2019      8
1            0.0  2019      8
2            2.0  2019      8
3            0.0  2019      8
4            2.0  2019      8
...          ...   ...    ...
1612173      0.0  2012      7
1612174     10.0  2012      7
1612175      0.0  2012      7
1612176      0.0  2012      7
1612177      0.0  2012      7

[1609642 rows x 3 columns]